<h1><%=@project.name%></h1>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %> hours and  <%= entry.minutes %> minutes
      <%= entry.date %> 
      <%= link_to('Update', edit_project_entry_path(@project.id, entry.id)) %> 
      <%= link_to('Delete', project_entry_path(@project, entry), method: :delete, data: {confirm: 'Are you sure?'}) %>

    </li>
  <% end %>
</ul>

<h2> Total hours worked this month <%= total_hours_in_month(@entries)%> </h2>

<p>

<%= link_to("Projects", projects_path) %> 

<%= link_to('Add new entry', new_project_entry_path(@project.id)) %>

</p>